{% if site.footer-links.email %}
<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>
&nbsp;
{% endif %}

{% if site.footer-links.scholar %}
<a class="footer-icon" href="https://scholar.google.com/citations?user={{ site.footer-links.scholar }}"><i class="ai ai-google-scholar"></i></a>
&nbsp;
{% endif %}

{% if site.footer-links.linkedin %}
<a class="footer-icon" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
&nbsp;
{% endif %}

{% if site.footer-links.github %}
<a class="footer-icon" href="https://github.com/{{ site.footer-links.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
&nbsp;
{% endif %}

{% if site.footer-links.twitter %}
<a class="footer-icon" href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fa fa-twitter"></i></a>
&nbsp;
{% endif %}

{% if site.footer-links.orcid %}
<a class="footer-icon" href="https://www.orcid.org/{{ site.footer-links.orcid }}"><i class="ai ai-orcid"></i></a>
&nbsp;
{% endif %}
