<nav class="navbar navbar-expand-md navbar-light" style="background-color: #fff; padding: 8px 16px;">
<div class="container mt-2 mb-1 px-3 px-sm-0">
	<a class="custom-brand" href="{{ site.BaseURL }}" aria-label="Home"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
            {{ with site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
			<li class="nav-item">
				<a class="custom-nav-link" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}">
				{{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
				</a>
			</li>
                {{ end }}
            {{ end }}
    </ul>
  </div>
</div>
</nav>
<hr style="margin-bottom: 1.1em; margin-top: 1.1em;">
